@import "bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --netflix-main: #e40914;
  --netflix-main-dark: #141414;
  --netflix-main-dark-darker: #0b0b0b;
  --netflix-black: #000000;
  --netflix-dark-accent: #595959;
  --netflix-light-accent: #ababab;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--netflix-main-dark);
  color: white;
}

/*Utilities*/
.active {
  color: white;
}
.inactive {
  color: var(--netflix-light-accent);
}

/*#region Header */
header {
  position: fixed;
  z-index: 1;
  width: 100%;
  background-image: linear-gradient(
    var(--netflix-main-dark-darker),
    var(--netflix-main-dark)
  );
  nav {
    height: 50px;

    .leftnav {
      gap: 4rem;

      @media screen and (max-width: 880px) {
        gap: 1rem;
      }
      #xlLogo {
        width: 100px;
        margin-left: 40px;
        @media screen and (max-width: 880px) {
          display: none;
        }
      }
      #smLogo {
        width: 30px;
        margin-left: 40px;
        display: none;
        @media screen and (max-width: 880px) {
          display: inline-block;
          margin-left: 5px;
        }
      }
      .secondary_page {
        @media screen and (max-width: 580px) {
          display: none;
        }
      }
      a {
        text-decoration: none;

        &:hover {
          color: var(--netflix-dark-accent);
        }
      }
    }

    .rightnav {
      .searchbar {
        border: 1px solid white;
        padding: 3px;
        img {
          width: 24px;
        }
        .searchbarinput {
          color: var(--netflix-light-accent);
          background-color: var(--netflix-main-dark);
          border: 0;
          &:focus {
            outline: none;
          }
        }
      }

      .profile {
        padding: 3px;
        position: relative;
        @media screen and (max-width: 802px) {
          display: none;
        }
        .caret {
          position: absolute;
          transform: translateX(-50%), translateY(-50%);
          top: 25%;
        }
      }

      #bell {
        @media screen and (max-width: 802px) {
          display: none;
        }
      }

      span {
        padding: 0rem;
        border: 0;
        @media screen and (max-width: 802px) {
          display: none;
        }
        :hover {
          cursor: pointer;
        }
      }
    }
  }
}
/*#endregion Header */

/*#region Main */
main {
  padding-top: 7rem;
  .categoryTitle {
    color: white;
  }
  min-height: calc(100vh);
  .movieCard {
    width: 342px;
    height: 500px;
    position: relative;
    .hoverCard {
      height: 500px;
      width: 100%;
      position: absolute;
      transform: translateX(-50%), translateY(-50%);
      border-radius: 5px;
      background-color: var(--netflix-main-dark);
      box-shadow: 1px 1px 10px 10px var(--netflix-main-dark-darker);
      opacity: 0;
      overflow-y: auto;
      &:hover {
        animation: transitionHoverCard ease-in-out 0.5s;
        opacity: 1;
      }

      /* width */
      &::-webkit-scrollbar {
        width: 0px;
      }
      p {
        color: var(--netflix-light-accent);
      }
      strong {
        color: white;
      }
    }
    .cardImg {
      box-shadow: 1px 1px 10px 10px var(--netflix-main-dark-darker);
      border-radius: 5px;
      height: 100%;
      width: 100%;
    }
  }
  .movieCard.popCard {
    width: 185px;
    height: 277.5px;
    .hoverCard {
      width: 100%;
      height: 277.5px;
    }
  }
}
/*#endregion Main */

/*#region Footer*/
footer {
  .social-links {
    a {
      color: rgba(255, 255, 255, 0.815);
    }
  }
  ul {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    a {
      text-decoration: none;
      color: var(--netflix-dark-accent);
      &:hover {
        color: var(--netflix-light-accent);
      }
    }
  }
  .serviceCode {
    padding: 0.3rem;
    color: var(--netflix-dark-accent);
    border: 1px solid var(--netflix-dark-accent);
    &:hover {
      color: var(--netflix-light-accent);
      cursor: pointer;
    }
  }
  span {
    color: var(--netflix-dark-accent);
  }
}

/*#endregion Footer*/

@keyframes transitionHoverCard {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
